.container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.box {
  min-width: 25rem;
  max-width: 28rem;
  background-color: #eaeaea;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 1.5rem;
}
.title {
  font-size: 1.875em;
}

.submit {
  background-color: #dc1439;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.4rem;
  cursor: pointer;
}

.noGifts,
.addGifts {
  font-size: 1em;
  padding: 0.4rem 0.8rem;
  text-align: center;
  background-color: #dc1439;
  border: none;
  color: white;
  border-radius: 0.4rem;
}
.addGifts {
  font-family: inherit;
  cursor: pointer;
  background-color: #5c99bb;
}
.inputs {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.inputs > input {
  height: 2.2rem;
  border-radius: 4px;
  border: 1px solid rgb(156, 150, 150);
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.delete__all {
  margin: 1rem auto;
  display: flex;
  justify-content: center;
  background-color: #dc1439;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.4rem;
}


.gifts {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}