.container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.box {
  min-width: 22rem;
  max-width: 25rem;
  background-color: #eaeaea;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 1.5rem;
}
.title {
  font-size: 1.875em;
}
.gift__info{
  margin-left: 1.5rem;

}
.gift__destinatary{
  font-size: 0.8em;
  
}
.gift {
  font-size: 1em;
  width: 8rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.submit {
  background-color: #dc1439;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.4rem;
  cursor: pointer;
}
.giftBox {
  display: flex;
  align-items: center;
  height: 3rem;
  width: 100%;
  position: relative;
  /* gap: 2rem; */
}
.noGifts,.addGifts {
  font-size: 1em;
  padding: 0.4rem 0.8rem;
  text-align: center;
  background-color: #dc1439;
  border: none;
  color: white;
  border-radius: 0.4rem;
  
}
.addGifts{
  font-family: inherit;
  cursor: pointer;
  background-color: #5c99bb;
}
.inputs {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  
}
.inputs > input {
  height: 2.2rem;
  border-radius: 4px;
  border: 1px solid rgb(156, 150, 150);
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.delete__button {
  padding: 0.2rem 0.4rem;
  height: 30px;
  width: 30px;
  position: absolute;
  right: 0;
}
.delete__all {
  margin: 1rem auto;
  display: flex;
  justify-content: center;
  background-color: #dc1439;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.4rem;
}

.gifts {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.img__gift {
  height: 100%;
  width: 5rem;
}
.modal__dialog {
  position: fixed;
  width: 24rem;
  padding: 1rem 2rem;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  border-radius: 1.5rem;
  border: none;
}
.modal__dialog::backdrop{
    background-color: rgba(200, 200, 200, 0.3)
}
.modal__title{
  text-align: center;
}
.close__dialog{
  margin: 0.8rem auto;
  display: flex;
  background-color: #dc1439;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.4rem;
  align-items: center;
  height: 2.2rem;
  font-size: 1em;
}